* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
}

/* header */
header {
  width: 100%;
  height: 50px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blue-squre {
  width: 50px;
  height: 50px;
  background-color: aqua;
}

header nav {
  margin: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  margin-right: 30px;
}

header nav a:hover {
  color: aqua;
}


/* hero */

#hero {
  width: 100%;
  display: flex;
}

#slogan-container {
  background-color: #000;
  width: 50%;
}

#profile-container {
  background-color: #000;
  width: 50%;
}

.info {
  color: #fff;
  padding: 10px 50px;
  margin-left: 50px;
}

.info a {
  color: #fff;
}

/* portfolio */
#portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project {
  position: relative;
  transition: transform .2s;
}

.project:hover {
  transform: scale(1.03);
}

.project h2 {
  position: absolute;
  left: 20px;
  Top: 20px;
  font-size: 2em;
  color: #777;
}

.project img {
  width: 100%;
}



.project p {
  color: #fff;
  margin-bottom: 40px;
}

.description-bg {
  background-color: rgba(1, 46, 64, 0.7);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 140px;
  padding: 20px;
}

/* about */

.h1-bg {
  width: 100%;
  background: aqua;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 0 0 50px;
}

.section-title {
  font-size: 2.3em;
  color: #fff;
  margin-bottom: 10px;
}

#about p {
  margin: 30px auto;
  padding: 10px 40px;
  text-align: justify;
}

/* contact */

#contact,
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

#contact form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-title {
  margin: 30px 0;
  font-size: 2em;
  color: aqua;
}

#contact form label {
  font-size: 1.4em;
  color: #777;
  margin-bottom: 5px;
}

#contact form input,
#contact form textarea {
  font-size: 1.4em;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact form button {
  width: 100%;
  background-color: aqua;
  color: white;
  font-size: 1.5em;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contact form button:hover {
  background-color: rgb(0, 162, 162);
}

/* go-up */
.go-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.519);
  padding: 30px 15px;
  text-decoration: none;
  color: #fff;
  z-index: 10;
  cursor: pointer;
}


/* footer */
footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

footer p {
  color: #fff;
}

@media screen and (max-width: 820px) {

  /* header */
  header nav a {
    font-size: 0.8em;
  }

  /* hero */
  #hero {
    flex-direction: column-reverse;
  }

  #slogan-container,
  #slogan-container img {
    width: 100%;
  }

  #profile-container {
    width: 100%;
    display: flex;
  }

  #profile-container img {
    width: 70%;
    margin: auto;
  }

  .info {
    padding: 10px;
    margin-bottom: 50px;
  }

  /* portfolio */
  #portfolio {
    grid-template-columns: 1fr;
  }

  /* contact */
  #contact form {
    width: 90%;
  }
}